<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <connectionStrings>
    <!--redis连接地址配置-->
    <add name="RedisConnectionString" connectionString="222.73.81.100:6389,127.0.0.1:6380" />
    <!--数据库连接地址配置-->
    <add name="ReadCloudClearance9053" connectionString="server=127.0.0.1;uid=sa;pwd=k123456;database=Dapper"/>
    <add name="WriteCloudClearance9053" connectionString="server=127.0.0.1;uid=sa;pwd=k123456;database=Dapper"/>
    <!--数据库连接地址配置-->
  </connectionStrings>
</configuration>