<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <appSettings>
    <add key="LocalStoragePath" value ="D:\wopi\files\" />
    <add key="host" value="127.0.0.1" />
    <add key="post" value="8070" />
  </appSettings>
</configuration>